@use '../base/variables' as vars;
@use 'sass:color';


.tribe-events-pro-photo__event-title {
    background-color: white;
}

.tribe_events-template-default.single .bt_bb_fe_edit_box .tribe-events-content h2, .tribe-events-content h3 {
    color: black;
}

 