// Import variables and animations using @use, making them available with a namespace
@use 'base/variables';
@use 'base/animations';

// Layout specific styles
@use 'layout/navigation/main' as navigation; // This will make styles from _main.scss apply
@use 'layout/header/main' as header; // Include the new header styles

// Component specific styles
// @use 'components/buttons';
// @use 'components/cards';

// Page specific styles
// @use 'pages/home';
// @use 'pages/contact';

// Utility classes
// @use 'utils/helpers';

// Print styles (if any)
// @media print {
//   @use 'print/main';
// }